{% extends "base.html" %}

{% block lang %}{{ t["lang"] }}{% endblock %}

{% block head %}
    <script src="{{ url_for('static', filename='js/auth.js') }}"></script>
    <title>{{ t['title']['login'] }}</title>
{% endblock %}

{% block body %}
    <section id="login" class="auth">
        <div class="container">
            <div class="wrapper">
                <h1>{{ t['login']['title'] }}</h1>
                <p>{{ t['login']['subtitle'] }}</p>

                <form action="/auth/login" method="post">
                    <label for="username">{{ t['login']['username'] }}</label>
                    <input type="text" name="username" id="username" placeholder="{{ t['login']['username-placeholder'] }}" required>

                    <label for="password">{{ t['login']['password'] }}</label>
                    <input type="password" name="password" id="password" required>

                    <button type="submit" class="button">{{ t['login']['submit'] }}</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}