# Flask
SECRET_KEY="your_secret_key"
FLASK_ENV="production" # or development
FLASK_APP="manage.py"
POS_TERMINAL_ENABLED="False" # or True

# Database
DATABASE_URL="postgresql://username:password@postgres/web_bank_db"

# Redis
REDIS_HOSTS="redis:6379"

# Celery
CELERY_BROKER_URL="redis://redis:6379/0"
CELERY_RESULT_BACKEND="redis://redis:6379/0"

# Cache
CACHE_REDIS_URL="redis://redis:6379/0"

# API keys
EXCHANGE_RATE_API_KEY="api_key"

# Docker
POSTGRES_DB="web_bank_db"
POSTGRES_USER="username"
POSTGRES_PASSWORD="password"
NGINX_CONFIG_PATH="./nginx.local.conf" # or .ssl.
