<!DOCTYPE html>
<html lang='{{ t["lang"] }}'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Inter font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.min.js"
            integrity="sha256-Fb0zP4jE3JHqu+IBB9YktLcSjI1Zc6J2b6gTjB0LpoM="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.14.0/themes/base/jquery-ui.css">

    <!-- Favicon -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">

    <script src="{{ url_for('static', filename='js/admin_dashboard.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">

    <title>{{ t["title"]["dashboard"] }}</title>
</head>
<body>
    <div id="navbar">
        <h1 class="page-name">{{ t["dashboard"]["admin-transfers"] }}</h1>

        <div class="options">
            <a href="#" class="option">
                <img src="{{ url_for('static', filename='images/dashboard/solar_user-outline.svg') }}" alt="Account">
                {{ user.username }}
            </a>
            <a href="#" class="option">
                <img src="{{ url_for('static', filename='images/dashboard/mynaui_bell.svg') }}" alt="Notifications">
            </a>
            <a href="/auth/logout" class="option">
                <img src="{{ url_for('static', filename='images/dashboard/logout-rounded.svg') }}" alt="Log Out">
            </a>
        </div>
    </div>

    <div id="sidebar">
        <img src="{{ url_for('static', filename='images/logo/logo-blue-tr.png') }}" alt="MiBank">
        <a href="#" class="selected" data-shell="admin-transfers">{{ t["dashboard"]["admin-transfers"] }}</a>
        <a href="#" data-shell="admin-user-transactions">{{ t["dashboard"]["admin-user-transactions"] }}</a>
        <a href="#" data-shell="settings">{{ t["dashboard"]["settings"] }}</a>
    </div>

    <div id="shell"></div>
</body>
</html>