* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #020817;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

.button {
  text-decoration: none;
  cursor: pointer;
  padding: 12px 32px;
  border-radius: 5px;
  position: relative;
  top: 0;
  transition: all 0.3s;
}

.mb-20 {
  margin-bottom: 20px;
}

.hidden {
  display: none !important;
}

.mt-20 {
  margin-top: 20px;
}

body {
  background-color: #F8FAFC;
}

#navbar {
  position: fixed;
  top: 0;
  left: 300px;
  width: calc(100% - 300px);
  max-height: 70px;
  border-bottom: 1px solid #B9B9B9;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}
#navbar .page-name {
  font-size: 20px;
  font-weight: 500;
}
#navbar .options {
  display: flex;
  flex-direction: row;
}
#navbar .options .option {
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
  color: #020817;
  border: 1px solid #B9B9B9;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  max-height: 40px;
  transition: all 0.2s;
}
#navbar .options .option img {
  height: 20px;
  width: 20px;
}
#navbar .options .option:hover {
  background-color: rgba(71, 85, 105, 0.1);
}
#navbar .options .option:visited {
  color: #020817;
}
#navbar .options .option:first-child {
  margin-right: 10px;
}
#navbar .options .option:first-child img {
  margin-right: 5px;
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100%;
  border-right: 1px solid #B9B9B9;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}
#sidebar img {
  height: 30px;
  margin-bottom: 40px;
}
#sidebar a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  color: #475569;
  font-weight: medium;
  margin: 5px 0 5px 0;
  padding: 12px 20px;
  border-radius: 8px;
  transition: background-color 0.2s, color 0.2s;
}
#sidebar a:hover {
  color: #3A72EC;
  background-color: rgba(58, 114, 236, 0.1);
}
#sidebar .selected {
  color: #3A72EC;
  font-weight: 600;
  background-color: rgba(58, 114, 236, 0.1);
}

#shell {
  margin-left: 300px;
  margin-top: 70px;
  padding: 20px;
  overflow-y: auto;
}
#shell #dashboard-shell .balance-summary {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
#shell #dashboard-shell .balance-summary .text-small {
  font-size: 16px;
  font-weight: 500;
}
#shell #dashboard-shell .balance-summary .balance {
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0;
}
#shell #dashboard-shell .balance-summary .total-balance {
  width: 100%;
  background-color: #3A72EC;
  padding: 30px;
  border-radius: 8px;
}
#shell #dashboard-shell .balance-summary .total-balance .balance {
  color: #fff;
}
#shell #dashboard-shell .balance-summary .total-balance .text-small {
  color: rgba(255, 255, 255, 0.8);
}
#shell #dashboard-shell .balance-summary .monthly-income {
  width: 100%;
  background-color: #fff;
  border: 1px solid #B9B9B9;
  border-radius: 8px;
  padding: 30px;
}
#shell #dashboard-shell .balance-summary .monthly-income .balance {
  color: #3A72EC;
}
#shell #dashboard-shell .balance-summary .monthly-income .text-small {
  color: #475569;
}
#shell #dashboard-shell .other {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}
#shell #dashboard-shell .other .recent-transactions {
  width: 100%;
  background-color: #fff;
  border: 1px solid #B9B9B9;
  border-radius: 8px;
  padding: 30px;
}
#shell #dashboard-shell .other .recent-transactions .transactions .transaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}
#shell #dashboard-shell .other .recent-transactions .transactions .transaction .name {
  font-size: 20px;
  font-weight: 500;
}
#shell #dashboard-shell .other .recent-transactions .transactions .transaction .date {
  font-size: 14px;
  color: rgba(71, 85, 105, 0.6);
}
#shell #dashboard-shell .other .recent-transactions .transactions .transaction:nth-child(2) {
  border-top: 1px solid #B9B9B9;
  border-bottom: 1px solid #B9B9B9;
}
#shell #dashboard-shell .other .recent-transactions .transactions .transaction .amount {
  margin-right: 5px;
}
#shell #dashboard-shell .other .recent-transactions .transactions .transaction .red {
  color: #DC2626;
}
#shell #dashboard-shell .other .recent-transactions .transactions .transaction .green {
  color: #16A34A;
}
#shell #dashboard-shell .other .recent-transactions .all-transactions {
  width: 100%;
  text-decoration: none;
  color: #020817;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 0;
  margin-top: 40px;
  border: 1px solid #B9B9B9;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  transition: all 0.2s;
}
#shell #dashboard-shell .other .recent-transactions .all-transactions:hover {
  background-color: rgba(71, 85, 105, 0.1);
}
#shell #dashboard-shell .other .quick-transfer {
  width: 70%;
  background-color: #fff;
  border: 1px solid #B9B9B9;
  border-radius: 8px;
  padding: 30px;
}
#shell #dashboard-shell .other .quick-transfer .heading {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}
#shell #dashboard-shell .other .quick-transfer input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #B9B9B9;
  border-radius: 5px;
}
#shell #dashboard-shell .other .quick-transfer .buttons-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 40px;
}
#shell #dashboard-shell .other .quick-transfer .buttons-wrapper .cancel, #shell #dashboard-shell .other .quick-transfer .buttons-wrapper .transfer {
  text-decoration: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  transition: all 0.2s;
}
#shell #dashboard-shell .other .quick-transfer .buttons-wrapper .cancel {
  color: #020817;
  background-color: #fff;
  border: 1px solid #B9B9B9;
}
#shell #dashboard-shell .other .quick-transfer .buttons-wrapper .cancel:hover {
  background-color: rgba(71, 85, 105, 0.1);
}
#shell #dashboard-shell .other .quick-transfer .buttons-wrapper .transfer {
  color: #fff;
  background-color: #3A72EC;
}
#shell #dashboard-shell .other .quick-transfer .buttons-wrapper .transfer:hover {
  background-color: #1554de;
}
#shell #dashboard-shell .other h2 {
  margin-bottom: 30px;
}
#shell h2 {
  font-size: 32px;
  font-weight: 500;
}

#all-transactions-dialog .transactions {
  max-height: 60vh;
  overflow-y: auto;
  scrollbar-width: thin;
  padding-right: 10px;
}
#all-transactions-dialog .transactions .transaction {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  border-top: 1px solid #B9B9B9;
  border-bottom: 1px solid #B9B9B9;
}
#all-transactions-dialog .transactions .transaction .name {
  font-size: 20px;
  font-weight: 500;
}
#all-transactions-dialog .transactions .transaction .date {
  font-size: 14px;
  color: rgba(71, 85, 105, 0.6);
}
#all-transactions-dialog .transactions .transaction:nth-child(1) {
  border-top: none;
}
#all-transactions-dialog .transactions .transaction:last-child {
  border-bottom: none;
}
#all-transactions-dialog .transactions .transaction .amount {
  margin-right: 5px;
}
#all-transactions-dialog .transactions .transaction .red {
  color: #DC2626;
}
#all-transactions-dialog .transactions .transaction .green {
  color: #16A34A;
}