* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}
@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
}

.mb-20 {
  margin-bottom: 20px;
}

.hidden {
  display: none !important;
}

section#hero {
  height: calc(100vh - 45px);
  background-color: #3A72EC;
  display: flex;
  justify-content: center;
  align-items: center;
}
section#hero .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
section#hero .container .left {
  display: block;
  max-width: 690px;
}
section#hero .container .left h1 {
  color: #fff;
  font-size: 64px;
}
section#hero .container .left p {
  color: #fff;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 30px;
}
section#hero .container .left .buttons-wrapper {
  display: flex;
}
section#hero .container .left .buttons-wrapper .button {
  text-decoration: none;
  padding: 12px 32px;
  border-radius: 5px;
  position: relative;
  top: 0;
  transition: all 0.3s;
}
section#hero .container .left .buttons-wrapper .button:hover {
  top: -3px;
  transition: all 0.3s;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.25);
}
section#hero .container .left .buttons-wrapper .sign-in {
  background-color: #fff;
  color: #3A72EC;
}
section#hero .container .left .buttons-wrapper .sign-up {
  background-color: transparent;
  color: #fff;
  margin-left: 20px;
  border: 1px solid #fff;
}
section#hero .container .right {
  display: block;
}

@media (max-width: 1200px) {
  section#hero .container .right img {
    height: 400px;
  }
}
@media (max-width: 992px) {
  section#hero .container .left h1 {
    font-size: 52px;
  }
  section#hero .container .left p {
    font-size: 18px;
  }
  section#hero .container .left .buttons-wrapper .button {
    padding: 10px 24px;
  }
  section#hero .container .right img {
    height: 350px;
  }
}
@media (max-width: 768px) {
  section#hero .container {
    flex-direction: column;
    text-align: center;
  }
  section#hero .container .left h1 {
    font-size: 42px;
  }
  section#hero .container .left .buttons-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  section#hero .container .left .buttons-wrapper .button {
    font-size: 16px;
    margin-top: 10px;
  }
  section#hero .container .right img {
    height: 300px;
  }
}
@media (max-width: 576px) {
  section#hero .container .left h1 {
    font-size: 32px;
  }
  section#hero .container .left p {
    font-size: 16px;
  }
  section#hero .container .left .buttons-wrapper .button {
    font-size: 14px;
    padding: 8px 20px;
  }
  section#hero .container .right img {
    height: 250px;
  }
}
nav {
  background-color: #fff;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav ul li {
  height: 3rem;
}
nav ul li:first-child {
  margin-right: auto;
}
nav a {
  color: #020817;
  height: 100%;
  padding: 0 2rem;
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: all 0.3s;
}
nav a:hover {
  background-color: #F1F5F9;
  transition: all 0.3s;
}

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
#sidebar li {
  width: 100%;
}
#sidebar a {
  width: 100%;
}
@media (max-width: 768px) {
  #sidebar {
    width: 200px;
  }
}

#menu-button {
  display: none;
}

@media screen and (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
  #menu-button {
    display: flex;
  }
}