/// UNIVERSAL COLORS
$primary: #3A72EC;
$text-black: #020817;

/// WEBSITE COLORS
$web-light-gray: #F1F5F9;
$web-bg-white: #fff;
$web-small-text: #5E6D82;
$web-weak-accent: rgba(#C4D4F9, .5);
$web-white: #fff;

// HERO SECTION
$web-section-hero-white: #fff;

// NAV
$web-nav-height: 48px;


/// DASHBOARD COLORS
$dash-bg: #F8FAFC;
$dash-white: #fff;
$dash-gray: #475569;
$dash-gray-border: #B9B9B9;
$dash-text-white: #fff;
$dash-green: #16A34A;
$dash-red: #DC2626;


/// DASHBOARD LAYOUT DIMENSIONS
$sidebar-width: 250px;
$sidebar-height: 100%;
$navbar-height: 70px;
$navbar-width: calc(100% - #{$sidebar-width});

// It's not 50px wide/high, its smaller by 50px
$sidebar-width-smaller: 75px;
$navbar-height-smaller: 20px;

$sidebar-height-phone: calc(#{$navbar-height} - #{$navbar-height-smaller});

// Padding for boxes on the dashboard
$boxes-padding: 30px;

