<div id="currencies-shell">
    <div class="all-currencies">
        {% for balance in user.balances %}
            <div class="currency">
                <p class="symbol">{{ balance.symbol }}</p>
                <p class="balance">{{ balance.amount }}</p>
            </div>
            {% if loop.last %}
                <div class="currency add-currency">
                    <p>+ {{ t["currencies"]["add-currency"] }}</p>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>