<div id="dashboard-shell">
    <div class="balance-summary">
        <div class="total-balance">
            <p class="text-small">{{ t["dashboard"]["total-balance"] }}</p>
            <p class="balance">{{ user.get_balance(user.settings.default_currency) }}{{ user.settings.default_currency }}</p>
            <p class="text-small">+20,1% {{ t["dashboard"]["from-last-month"] }}</p>
        </div>
        <div class="monthly-income">
            <p class="text-small">{{ t["dashboard"]["monthly-income"] }}</p>
            <p class="balance">{{ monthly_income }}{{ user.settings.default_currency }}</p>
            <p class="text-small">+20,1% {{ t["dashboard"]["from-last-month"] }}</p>
        </div>
    </div>
    <div class="other">
        <div class="recent-transactions">
            <h2>{{ t["dashboard"]["recent-transactions"] }}</h2>
            <div class="transactions">
                {% for transaction in recent_transactions %} 
                    <div class="transaction">
                        <div class="name-wrapper">
                            <p class="name">{{ transaction.name }}</p>
                            <p class="date">{{ transaction.timestamp | datetime(format="%d.%m.%Y") }}</p>
                        </div>
                        <p class="amount {{'red' if transaction.user_id == user.id else 'green' }}">
                            {{'-' if transaction.user_id == user.id else '+' }}{{ transaction.amount }}{{ transaction.currency }}
                        </p>
                    </div>
                {% endfor %}
                {% if not recent_transactions %}
                    <p class="no-transactions">{{ t["dashboard"]["no-transactions"] }}</p>
                {% endif %}
            </div>
        </div>
        <div class="quick-transfer">
            <h2>{{ t["dashboard"]["quick-transfer"] }}</h2>
            <p class="heading">{{ t["dashboard"]["recipiant"] }}</p>
            <input type="text" class="recipient" placeholder='{{ t["dashboard"]["enter-recipient"] }}'>
            <p class="heading mt-20">{{ t["dashboard"]["amount"] }}</p>
            <input type="text" class="amount" placeholder='{{ t["dashboard"]["enter-amount"] }}'>
            <div class="buttons-wrapper">
                <a href="#" class="cancel">{{ t["dashboard"]["cancel"] }}</a>
                <a href="#" class="transfer">{{ t["dashboard"]["transfer"] }}</a>
            </div>
        </div>
    </div>
</div>