<div id="dashboard-shell">
    <div class="balance-summary">
        <div class="total-balance">
            <p class="text-small">Total Balance</p>
            <p class="balance">€2.345,67</p>
            <p class="text-small">+20,1% from last month</p>
        </div>
        <div class="monthly-income">
            <p class="text-small">Total Balance</p>
            <p class="balance">€2.345,67</p>
            <p class="text-small">+20,1% from last month</p>
        </div>
    </div>
    <div class="other">
        <div class="recent-transactions">
            <h2>Recent Transactions</h2>
            <div class="transactions">
                <div class="transaction">
                    <div class="name-wrapper">
                        <p class="name">Amazon.com</p>
                        <p class="date">Apr 15, 2024</p>
                    </div>
                    <p class="amount">-54,32</p>
                </div>
                <div class="transaction">
                    <div class="name-wrapper">
                        <p class="name">Spotify</p>
                        <p class="date">Apr 14, 2024</p>
                    </div>
                    <p class="amount">-3,99</p>
                </div>
                <div class="transaction">
                    <div class="name-wrapper">
                        <p class="name">Salary</p>
                        <p class="date">Apr 14, 2024</p>
                    </div>
                    <p class="amount">+1.434,65</p>
                </div>
            </div>
            <a href="#" class="all-transactions">View All Transactions</a>
        </div>
        <div class="quick-transfer">
            <h2>Quick transfer</h2>
            <p class="heading">Recipiant</p>
            <input type="text" placeholder="Enter recipiant">
            <p class="heading mt-20">Amount</p>
            <input type="text" placeholder="Enter amount">
            <div class="buttons-wrapper">
                <a href="#" class="cancel">Cancel</a>
                <a href="#" class="transfer">Transfer</a>
            </div>
        </div>
    </div>
</div>