<div id="dashboard-shell">
    <div class="balance-summary">
        <div class="total-balance">
            <p class="text-small">{{ t["dashboard"]["total-balance"] }}</p>
            <p class="balance">€{{ user.balance }}</p>
            <p class="text-small">+20,1% {{ t["dashboard"]["from-last-month"] }}</p>
        </div>
        <div class="monthly-income">
            <p class="text-small">{{ t["dashboard"]["monthly-income"] }}</p>
            <p class="balance">€{{ user.balance }}</p>
            <p class="text-small">+20,1% {{ t["dashboard"]["from-last-month"] }}</p>
        </div>
    </div>
    <div class="other">
        <div class="recent-transactions">
            <h2>{{ t["dashboard"]["recent-transactions"] }}</h2>
            <div class="transactions">
                <div class="transaction">
                    <div class="name-wrapper">
                        <p class="name">Amazon.com</p>
                        <p class="date">Apr 15, 2024</p>
                    </div>
                    <p class="amount">-54,32</p>
                </div>
                <div class="transaction">
                    <div class="name-wrapper">
                        <p class="name">Spotify</p>
                        <p class="date">Apr 14, 2024</p>
                    </div>
                    <p class="amount">-3,99</p>
                </div>
                <div class="transaction">
                    <div class="name-wrapper">
                        <p class="name">Salary</p>
                        <p class="date">Apr 14, 2024</p>
                    </div>
                    <p class="amount">+1.434,65</p>
                </div>
            </div>
            <a href="#" class="all-transactions">{{ t["dashboard"]["view-all-transactions"] }}</a>
        </div>
        <div class="quick-transfer">
            <h2>{{ t["dashboard"]["quick-transfer"] }}</h2>
            <p class="heading">{{ t["dashboard"]["recipiant"] }}</p>
            <input type="text" placeholder='{{ t["dashboard"]["enter-recipiant"] }}'>
            <p class="heading mt-20">{{ t["dashboard"]["amount"] }}</p>
            <input type="text" placeholder='{{ t["dashboard"]["enter-amount"] }}'>
            <div class="buttons-wrapper">
                <a href="#" class="cancel">{{ t["dashboard"]["cancel"] }}</a>
                <a href="#" class="transfer">{{ t["dashboard"]["transfer"] }}</a>
            </div>
        </div>
    </div>
</div>