<!DOCTYPE html>
<html lang="{% block lang %}{% endblock %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Inter font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    {% block head %}{% endblock %}
</head>
<body>
    <nav id="sidebar-nav">
        <ul id="sidebar" class="hidden">
            <li>
                <a href="#" onclick="toggleHidden('#sidebar')">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#020817"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
                </a>
            </li>
            <li><a href="#">{{ t['navbar']['home'] }}</a></li>
            <li><a href="#" id="show-languages-sidebar">{{ t['navbar']['languages'] }}</a></li>
            <li><a href="#">{{ t['navbar']['services'] }}</a></li>
            <li><a href="#">{{ t['navbar']['contact'] }}</a></li>
            <li><a href="#">{{ t['navbar']['login'] }}</a></li>

            <li class="hidden">
                <a href="#" id="show-languages-sidebar-back">
                    <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#020817"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
                </a>
            </li>
            <li class="hidden"><a href="#" class="language-option {% if session.get('lang') == 'en' %}selected{% endif %}" value="en">English</a></li>
            <li class="hidden"><a href="#" class="language-option {% if session.get('lang') == 'en' %}selected{% endif %}" value="sl">Slovenščina</a></li>
        </ul>
    </nav>
    <nav id="main-nav">
        <div class="container">
            <ul>
                <li><a href="#">LOGO HERE</a></li>
                <li><a href="#" class="hide-on-mobile group">{{ t['navbar']['home'] }}</a></li>
                <li><a href="#" class="hide-on-mobile group" id="show-languages">{{ t['navbar']['languages'] }}</a></li>
                <li><a href="#" class="hide-on-mobile group">{{ t['navbar']['services'] }}</a></li>
                <li><a href="#" class="hide-on-mobile group">{{ t['navbar']['contact'] }}</a></li>
                <li><a href="#" class="hide-on-mobile group">{{ t['navbar']['login'] }}</a></li>

                <li>
                    <a href="#" id="show-languages-back" class="group hidden">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#020817"><path d="M400-80 0-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
                    </a>
                </li>
                <li><a href="#" class="hide-on-mobile group language-option hidden {% if session.get('lang') == 'en' %}selected{% endif %}" value="en">English</a></li>
                <li><a href="#" class="hide-on-mobile group language-option hidden {% if session.get('lang') == 'sl' %}selected{% endif %}" value="sl">Slovenščina</a></li>
                <li>
                    <a href="#" id="menu-button" onclick="toggleHidden('#sidebar')">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#020817"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>