{% extends "base.html" %}

{% block lang %}{{ t["lang"] }}{% endblock %}

{% block head %}
    <title>{{ t['title']['home'] }}</title>
{% endblock %}


{% block body %}
    <section id="hero">
        <div class="container">
            <div class="left">
                <h1>{{ t["hero"]["title"] }}</h1>
                <p>{{ t["hero"]["subtitle"] }}</p>
                <div class="buttons-wrapper">
                    <a href="/auth/login" class="button sign-in">{{ t["hero"]["log-in"] }}</a>
                    <a href="/auth/register" class="button sign-up">{{ t["hero"]["register"] }}</a>
                </div>
            </div>
            <div class="right">
                <img src="{{ url_for('static', filename='images/index/hero-cards.png') }}" alt="{{ t['hero']['image-alt'] }}">
            </div>
        </div>
    </section>
{% endblock %}