{% extends "pages.html" %}

{% block lang %}{{ t["lang"] }}{% endblock %}

{% block head %}
    <title>{{ t['title']['home'] }}</title>
{% endblock %}


{% block body %}
    <section id="hero">
        <div class="container">
            <div class="left">
                <h1>{{ t["index"]["hero"]["title"] }}</h1>
                <p>{{ t["index"]["hero"]["subtitle"] }}</p>
                <div class="buttons-wrapper">
                    <a href="/auth/login" class="button sign-in">{{ t["index"]["hero"]["log-in"] }}</a>
                    <a href="/auth/register" class="button sign-up">{{ t["index"]["hero"]["register"] }}</a>
                </div>
            </div>
            <div class="right">
                <img src="{{ url_for('static', filename='images/index/hero-cards.svg') }}" alt="{{ t['index']['hero']['image-alt'] }}">
            </div>
        </div>
    </section>
    <section id="features">
        <div class="container">
            <div class="items-wrapper">
                <div class="item">
                    <img src="{{ url_for('static', filename='images/index/wallet-light.svg') }}" alt="{{ t['index']['features']['field1-alt'] }}">
                    <h3>{{ t['index']['features']['field1-title'] }}</h3>
                    <p>{{ t['index']['features']['field1-text'] }}</p>
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename='images/index/finance-rounded.svg') }}" alt="{{ t['index']['features']['field2-alt'] }}">
                    <h3>{{ t['index']['features']['field2-title'] }}</h3>
                    <p>{{ t['index']['features']['field2-text'] }}</p>
                </div>
                <div class="item">
                    <img src="{{ url_for('static', filename='images/index/phone.svg') }}" alt="{{ t['index']['features']['field3-alt'] }}">
                    <h3>{{ t['index']['features']['field3-title'] }}</h3>
                    <p>{{ t['index']['features']['field3-text'] }}</p>
                </div>
            </div>
        </div>
    </section>
    <section id="converter">
        <div class="container">
            <div class="items-wrapper">
                <div class="inner-wrapper">
                    <div class="item">
                        <p class="subtitle">{{ t["index"]["converter"]["subtitle"] }}</p>
                        <h2>{{ t["index"]["converter"]["title"] }}</h2>
                        <p class="main-text">{{ t["index"]["converter"]["main-text"] }}</p>

                        <div class="grid">
                            <div class="grid-item">
                                <h3>{{ t["index"]["converter"]["field1-title"] }}</h3>
                                <p>{{ t["index"]["converter"]["field1-text"] }}</p>
                            </div>
                            <div class="grid-item">
                                <h3>{{ t["index"]["converter"]["field2-title"] }}</h3>
                                <p>{{ t["index"]["converter"]["field2-text"] }}</p>
                            </div>
                            <div class="grid-item">
                                <h3>{{ t["index"]["converter"]["field3-title"] }}</h3>
                                <p>{{ t["index"]["converter"]["field3-text"] }}</p>
                            </div>
                            <div class="grid-item">
                                <h3>{{ t["index"]["converter"]["field4-title"] }}</h3>
                                <p>{{ t["index"]["converter"]["field4-text"] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner-wrapper">
                    <div class="item">
                        <div id="currency-exchange">
                            <h2>{{ t["index"]["converter"]["exchange-title"] }}</h2>
                            <div class="exchange-fields">
                                <div class="field">
                                    <p>{{ t["index"]["converter"]["amount"] }}</p>
                                    <input type="number" class="amount" placeholder="0">
                                </div>
                                <div class="field">
                                    <p>{{ t["index"]["converter"]["from"] }}</p>
                                    <select class="from">
                                        <option value=""></option>
                                        {% for currency in all_currencies %}
                                            <option value="{{ currency }}">{{ currency }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="field">
                                    <p>{{ t["index"]["converter"]["to"] }}</p>
                                    <select class="to">
                                        <option value=""></option>
                                        {% for currency in all_currencies %}
                                            <option value="{{ currency }}">{{ currency }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="exchange-result hidden">
                                <p class="exchange-rate">
                                    <span>{{ t["index"]["converter"]["exchange-rate"] }}:</span>
                                    <span class="exchange-rate"></span>
                                </p>
                                <p class="result">
                                    <span>{{ t["index"]["converter"]["result"] }}:</span>
                                    <span class="result"></span>
                                </p>
                            </div>
                            <div class="exchange-button-wrapper">
                                <a href="#" id="exchange-button">{{  t["index"]["converter"]["exchange"] }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="key-features">
        <div class="container">
            <div class="items-wrapper">
                    <div class="inner-wrapper">
                        <div class="item">
                            <p class="subtitle">{{ t["index"]["key-features"]["subtitle"] }}</p>
                            <h2>{{ t["index"]["key-features"]["title"] }}</h2>
                            <p class="main-text">{{ t["index"]["key-features"]["main-text"] }}</p>
        
                            <div class="grid">
                                <div class="grid-item">
                                    <h3>{{ t["index"]["key-features"]["field1-title"] }}</h3>
                                    <p>{{ t["index"]["key-features"]["field1-text"] }}</p>
                                </div>
                                <div class="grid-item">
                                    <h3>{{ t["index"]["key-features"]["field2-title"] }}</h3>
                                    <p>{{ t["index"]["key-features"]["field2-text"] }}</p>
                                </div>
                                <div class="grid-item">
                                    <h3>{{ t["index"]["key-features"]["field3-title"] }}</h3>
                                    <p>{{ t["index"]["key-features"]["field3-text"] }}</p>
                                </div>
                                <div class="grid-item">
                                    <h3>{{ t["index"]["key-features"]["field4-title"] }}</h3>
                                    <p>{{ t["index"]["key-features"]["field4-text"] }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="inner-wrapper">
                        <div class="item">
                            <img src="{{ url_for('static', filename='images/index/key-features.svg') }}" alt="{{ t['index']['key-features']['image-alt'] }}" class="big-image">
                        </div>
                    </div>
                <div class="item">

                </div>
            </div>
        </div>
    </section>
    <section id="people-first">
        <div class="container">
            <div class="items-wrapper">
                <div class="inner-wrapper">
                    <div class="item">
                        <p class="subtitle">{{ t["index"]["people-first"]["subtitle"] }}</p>
                        <h2>{{ t["index"]["people-first"]["title"] }}</h2>
                        <p class="main-text">{{ t["index"]["people-first"]["main-text"] }}</p>
                        <div class="list">
                            <div class="list-item">
                                <img src="{{ url_for('static', filename='images/index/checkmark.svg') }}" alt="{{ t['index']['people-first']['list1-alt'] }}">
                                <p>{{ t['index']['people-first']['list1'] }}</p>
                            </div>
                            <div class="list-item">
                                <img src="{{ url_for('static', filename='images/index/checkmark.svg') }}" alt="{{ t['index']['people-first']['list2-alt'] }}">
                                <p>{{ t['index']['people-first']['list2'] }}</p>
                            </div>
                            <div class="list-item">
                                <img src="{{ url_for('static', filename='images/index/checkmark.svg') }}" alt="{{ t['index']['people-first']['list3-alt'] }}">
                                <p>{{ t['index']['people-first']['list3'] }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner-wrapper">
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/index/people-first.svg') }}" alt="{{ t['index']['people-first']['image-alt'] }}" class="big-image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="customers">
        <div class="container">
            <div class="wrapper">
                <h2>{{ t['index']['customers']['title'] }}</h2>
                <p>{{ t['index']['customers']['main-text'] }}</p>

                <div class="flex">
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/index/customer-placeholder.svg') }}" alt="{{ t['index']['customers']['customer1']['image-alt'] }}">
                        <p class="quote">"{{ t['index']['customers']['customer1']['text'] }}"</p>
                        <p class="name">{{ t['index']['customers']['customer1']['name'] }}</p>
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/index/customer-placeholder.svg') }}" alt="{{ t['index']['customers']['customer2']['image-alt'] }}">
                        <p class="quote">"{{ t['index']['customers']['customer2']['text'] }}"</p>
                        <p class="name">{{ t['index']['customers']['customer2']['name'] }}</p>
                    </div>
                    <div class="item">
                        <img src="{{ url_for('static', filename='images/index/customer-placeholder.svg') }}" alt="{{ t['index']['customers']['customer3']['image-alt'] }}">
                        <p class="quote">"{{ t['index']['customers']['customer3']['text'] }}"</p>
                        <p class="name">{{ t['index']['customers']['customer3']['name'] }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}